<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../js/script.js"></script>

<footer class="footer">

    <section class="grid">
 
       <div class="box">
          <h3>Accesos rapidos</h3>
          <a href="home.php"> <i class="fas fa-angle-right"></i> Inicio</a>
          <a href="about.php"> <i class="fas fa-angle-right"></i> Sobre noosotros</a>
          <a href="shop.php"> <i class="fas fa-angle-right"></i> Comprar</a>
          <a href="contact.php"> <i class="fas fa-angle-right"></i> Contactanos</a>
       </div>
 
       <div class="box">
          <h3>Mas accesos</h3>
          <a href="user_login.php"> <i class="fas fa-angle-right"></i> Inicio sesion</a>
          <a href="user_register.php"> <i class="fas fa-angle-right"></i> Registrarse</a>
          <a href="cart.php"> <i class="fas fa-angle-right"></i> Carrito de compras</a>
          <a href="orders.php"> <i class="fas fa-angle-right"></i> Pedidos</a>
       </div>
 
       <div class="box">
          <h3>Contactanos</h3>
          <a href="tel:1234567890"><i class="fas fa-phone"></i> +57 123 456 789</a>
          <a href="tel:11122233333"><i class="fas fa-phone"></i> +57 987 654 321 </a>
          <a href="mailto:juansebastian031@gmail.com"><i class="fas fa-envelope"></i> juandelgado@gmail.com</a>
          <a href="https://www.google.com"><i class="fas fa-map-marker-alt"></i> Bogota - Colombia </a>
       </div>
 
       <div class="box">
          <h3>follow us</h3>
          <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
          <a href="#"><i class="fab fa-twitter"></i>twitter</a>
          <a href="#"><i class="fab fa-instagram"></i>instagram</a>
          <a href="#"><i class="fab fa-linkedin"></i>linkedin</a>
       </div>
 
    </section>
 
    <div class="credit">&copy; copyright @ 2023 by <span>Juan Turriago</span> | todos los derechos reservados</div>
 
 </footer>